<a href="https://colab.research.google.com/github/PedroHCasarotto/Alura/blob/main/Python_para_Data_Science_Fun%C3%A7%C3%B5es%2C_Pacotes_e_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

Este notebook se refere à aula <a href='https://cursos.alura.com.br/course/python-funcoes-pacotes-pandas' target='_blank'>Python para Data Science: Funções, Pacotes e Pandas</a> do curso da Alura.

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares.
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

# 1.3 Trabalhando com dados

In [ ]:
import pandas as pd
# pd.set_option('display.max_rows', 1000)

In [ ]:
dataset = pd.read_csv("db.csv", sep=";")

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
(1,2,3)

(1, 2, 3)

In [ ]:
p = 1,2,3,4,5,6

In [ ]:
p

(1, 2, 3, 4, 5, 6)

In [ ]:
nomes = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
nomes = tuple(nomes)

# 2.2 Seleções em tuplas

In [ ]:
nomes_carros[0:5:2]

('Jetta Variant', 'Crossfox', ('Fusca', 'Gol', 'C4'))

In [ ]:
c1, c2, c3 ,c4, c5= nomes_carros
for item in range(4):
  print(c5)

('Fusca', 'Gol', 'C4')
('Fusca', 'Gol', 'C4')
('Fusca', 'Gol', 'C4')
('Fusca', 'Gol', 'C4')

In [ ]:
_, _, _, C, _ = nomes_carros

In [ ]:
C

'DS5'

In [ ]:
carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
zip(carros)

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

### Desempacotamento de tuplas

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
valores.index(106161.94)

1

In [ ]:
dados = {'carro1': 12345, 'carro2': 23456, 'carro3': 34567}

In [ ]:
type(dados)

dict

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
dado = dict(zip(carros, valores))
dado

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

### Criando dicionários com *zip()*

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['carro1']

12345

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'carro1' not in dados

False

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados['carro10'] = 123456

In [ ]:
dados

{'carro1': 12345, 'carro2': 23456, 'carro10': 123456}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
del dados['carro3']

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados.update({'carro3': 23456})

In [ ]:
dados.update({'carro2': 97654})
dados

{'carro1': 12345, 'carro2': 97654, 'carro10': 123456, 'carro3': 23456}

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados.copy()

In [ ]:
del dadosCopy['carro10']

In [ ]:
dadosCopy
dados

{'carro1': 12345, 'carro2': 97654, 'carro10': 123456, 'carro3': 23456}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dadosCopy

{'carro1': 12345}

In [ ]:
dadosCopy.pop('carro3', 'Ja foiiiiiiii')

'Ja foiiiiiiii'

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

{}

In [ ]:
dados.keys()

dict_keys(['carro1', 'carro2', 'carro10', 'carro3'])

In [ ]:
for i in dados.keys():
  print(dados[i])

12345
97654
123456
23456

In [ ]:
dados.values()

dict_values([12345, 97654, 123456, 23456])

In [ ]:
dados.items()

dict_items([('carro1', 12345), ('carro2', 97654), ('carro10', 123456), ('carro3', 23456)])

In [ ]:
for item in dados.items():
  print(item)

('carro1', 12345)
('carro2', 97654)
('carro10', 123456)
('carro3', 23456)

## *dict.clear()*

Remove todos os itens do dicionário.

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
for name, key in dados.items():
  if key > 200000:
    print(name, key)

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005},
    'DS5': {'valor': 125000, 'ano': 2015},
    'Fusca': {'valor': 150000, 'ano': 1976},
    'Jetta': {'valor': 88000, 'ano': 2010},
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
dados

{'Crossfox': {'valor': 72000, 'ano': 2005},
 'DS5': {'valor': 125000, 'ano': 2015},
 'Fusca': {'valor': 150000, 'ano': 1976},
 'Jetta': {'valor': 88000, 'ano': 2010},
 'Passat': {'valor': 106000, 'ano': 1998}}

In [ ]:
for dado in dados.items():
  if dado[1]['ano'] > 2000:
    print(dado[0])

Crossfox
DS5
Jetta

In [ ]:
for name, key in dados.items():
  for ano in key['ano']:
    if ano > 2000:
      print(name, key)

TypeError: ignored

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
valores = []
for dado in dados.values():
  valores.append(dado)

sum(valores)

267072.74

In [ ]:
valor = []
valor = list (dados.values())
sum(valor, -267072.74)

2.9103830456733704e-11

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sum?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [ ]:
def media(dict):
  media = 0
  for valores in dict.values():
    media += valores/len(dict.values())

  return (media, sum(dict.values()))

In [ ]:
dados = {'Jetta Variant': 2, 'Passat': 3, 'Crossfox': 10}
dados

{'Jetta Variant': 2, 'Passat': 3, 'Crossfox': 10}

In [ ]:
soma

15

In [ ]:
media, soma = media(dados)

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005},
    'DS5': {'km': 17000, 'ano': 2015},
    'Fusca': {'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    for item in dataset.values():
        result = item['km'] / (ano_atual - item['ano'])
        print(result)

In [ ]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005},
    'DS5': {'km': 17000, 'ano': 2015},
    'Fusca': {'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({'km_media': media})
        result.update({item[0]: item[1]} )
    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [ ]:
import pandas as pd
import numpy as np

### Criando uma Series a partir de uma lista

In [ ]:
dados
pedro = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
dataset = pd.DataFrame(dados)

### Criando um DataFrame a partir de uma lista de dicionários

In [ ]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset[['Nome', 'Ano', 'Valor']]

            Nome   Ano      Valor
0  Jetta Variant  2003   88078.64
1         Passat  1991  106161.94
2       Crossfox  1990   72832.16

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005},
    'DS5': {'km': 17000, 'ano': 2015},
    'Fusca': {'km': 130000, 'ano': 1979},
    'Jetta': {'km': 56000, 'ano': 2011},
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [ ]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [ ]:
pd.DataFrame(km_media(dados, 2019)).T

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

### Criando um DataFrame a partir de um dicionário

In [ ]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'],
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset_nome = pd.read_csv('db.csv', sep=";", index_col=0)

In [ ]:
dataset_nome

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

### Criando um DataFrame a partir de uma arquivo externo

In [ ]:
dataset = pd.read_csv('db.csv', sep=";")

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [ ]:
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [ ]:
dataset[['Nome']]

                      Nome
0            Jetta Variant
1                   Passat
2                 Crossfox
3                      DS5
4         Aston Martin DB4
..                     ...
253           Phantom 2013
254  Cadillac Ciel concept
255             Classe GLK
256       Aston Martin DB5
257                  Macan

[258 rows x 1 columns]

### Selecionando linhas - [ i : j ]

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [ ]:
dataset.loc[[3, 8], ['Ano', 'Acessórios']]

    Ano                                         Acessórios
3  2019  ['Travas elétricas', '4 X 4', 'Vidros elétrico...
8  2010  ['Vidros elétricos', 'Piloto automático', 'Tet...

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [ ]:
dataset_nome.loc[:, ['Motor', 'Acessórios']]

,Motor,Acessórios
Nome,,
Jetta Variant,Motor 4.0 Turbo,"['Rodas de liga', 'Travas elétricas', 'Piloto ..."
Passat,Motor Diesel,"['Central multimídia', 'Teto panorâmico', 'Fre..."
Crossfox,Motor Diesel V8,"['Piloto automático', 'Controle de estabilidad..."
DS5,Motor 2.4 Turbo,"['Travas elétricas', '4 X 4', 'Vidros elétrico..."
Aston Martin DB4,Motor 2.4 Turbo,"['Rodas de liga', '4 X 4', 'Central multimídia..."
...,...,...
Phantom 2013,Motor V8,"['Controle de estabilidade', 'Piloto automátic..."
Cadillac Ciel concept,Motor V8,"['Bancos de couro', 'Painel digital', 'Sensor ..."
Classe GLK,Motor 5.0 V8 Bi-Turbo,"['Rodas de liga', 'Controle de tração', 'Câmbi..."
Aston Martin DB5,Motor Diesel,"['Ar condicionado', '4 X 4', 'Câmbio automátic..."
Macan,Motor Diesel V6,"['Central multimídia', 'Teto panorâmico', 'Vid..."

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [ ]:
dataset_nome.iloc[3:, [0, 2, 4]]

,Motor,Quilometragem,Acessórios
Nome,,,
DS5,Motor 2.4 Turbo,NaN,"['Travas elétricas', '4 X 4', 'Vidros elétrico..."
Aston Martin DB4,Motor 2.4 Turbo,25757.0,"['Rodas de liga', '4 X 4', 'Central multimídia..."
Palio Weekend,Motor 1.8 16v,10728.0,"['Sensor de estacionamento', 'Teto panorâmico'..."
A5,Motor 4.0 Turbo,NaN,"['Câmbio automático', 'Câmera de estacionament..."
Série 3 Cabrio,Motor 1.0 8v,77599.0,"['Controle de estabilidade', 'Sensor crepuscul..."
...,...,...,...
Phantom 2013,Motor V8,27505.0,"['Controle de estabilidade', 'Piloto automátic..."
Cadillac Ciel concept,Motor V8,29981.0,"['Bancos de couro', 'Painel digital', 'Sensor ..."
Classe GLK,Motor 5.0 V8 Bi-Turbo,52637.0,"['Rodas de liga', 'Controle de tração', 'Câmbi..."
Aston Martin DB5,Motor Diesel,7685.0,"['Ar condicionado', '4 X 4', 'Câmbio automátic..."
Macan,Motor Diesel V6,50188.0,"['Central multimídia', 'Teto panorâmico', 'Vid..."

In [ ]:
dataset_nome.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [ ]:

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [ ]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]
dataset.iloc[1:4:2, 0:5:4]
dataset.iloc[[1, 3], [0, -1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Queries com DataFrames

In [ ]:
qdd = 0

for item in (dataset.Ano == 2003):
  if item is True:
    qdd += 1
    print(dataset[dataset.Ano == 2003])
print(qdd)

              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92
7

In [ ]:
valor = dataset.Ano == 2003
print(dataset[valor])

              Nome            Motor   Ano  Quilometragem  Zero_km  \
0    Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False
41            HB20         Motor V6  2003        40762.0    False
49   Ford EcoSport     Motor 1.0 8v  2003        80349.0    False
95         Cayenne     Motor 1.0 8v  2003         4539.0    False
96             Fox  Motor 4.0 Turbo  2003       110116.0    False
110   Cadillac XLR  Motor Diesel V8  2003        56638.0    False
128            ASX  Motor Diesel V8  2003        61672.0    False

                                            Acessórios      Valor
0    ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
41   ['Sensor de chuva', 'Travas elétricas', 'Contr...  135235.29
49   ['Vidros elétricos', 'Piloto automático', 'Pai...  126350.49
95   ['Controle de tração', 'Piloto automático', 'T...  123911.78
96   ['Piloto automático', 'Câmbio automático', 'Tr...  101996.35
110  ['Sensor crepuscular', 'Teto panorâmico', 'Sen...   56646.34
128  ['Ar condicionado', 'Sensor crepuscular', 'Rod...  149489.92

In [ ]:
dataset[(dataset.Ano == 2003) & (dataset.Motor == 'Motor Diesel V8')]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
110,Cadillac XLR,Motor Diesel V8,2003,56638.0,False,"['Sensor crepuscular', 'Teto panorâmico', 'Sen...",56646.34
128,ASX,Motor Diesel V8,2003,61672.0,False,"['Ar condicionado', 'Sensor crepuscular', 'Rod...",149489.92

### Utilizando o método query

In [ ]:
dataset.query('Ano == 2003 and Motor == "Motor 1.0 8v" ')

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
49,Ford EcoSport,Motor 1.0 8v,2003,80349.0,False,"['Vidros elétricos', 'Piloto automático', 'Pai...",126350.49
95,Cayenne,Motor 1.0 8v,2003,4539.0,False,"['Controle de tração', 'Piloto automático', 'T...",123911.78

# 5.4 Iterando com DataFrames

In [ ]:
list(dataset.iterrows())

[(0, Nome                                                 Jetta Variant
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2003
  Quilometragem                                              44410.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Valor                                                     88078.64
  Name: 0, dtype: object),
 (1, Nome                                                        Passat
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                               5712.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Valor                                                    106161.94
  Name: 1, dtype: object),
 (2, Nome                                                      Crossfox
  Motor                                              Motor Diesel V8
  Ano                                                           1990
  Quilometragem                                              37123.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Valor                                                     72832.16
  Name: 2, dtype: object),
 (3, Nome                                                           DS5
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Valor                                                    124549.07
  Name: 3, dtype: object),
 (4, Nome                                              Aston Martin DB4
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2006
  Quilometragem                                              25757.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Valor                                                      92612.1
  Name: 4, dtype: object),
 (5, Nome                                                 Palio Weekend
  Motor                                                Motor 1.8 16v
  Ano                                                           2012
  Quilometragem                                              10728.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Valor                                                     97497.73
  Name: 5, dtype: object),
 (6, Nome                                                            A5
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Valor                                                      56445.2
  Name: 6, dtype: object),
 (7, Nome                                                Série 3 Cabrio
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                              77599.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Valor                                                    112310.44
  Name: 7, dtype: object),
 (8, Nome                                                  Dodge Jorney
  Motor                                                Motor 3.0 32v
  Ano                                                           2010
  Quilometragem                                              99197.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Valor                                                    120716.27
  Name: 8, dtype: object),
 (9, Nome                                                        Carens
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2011
  Quilometragem                                              37978.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Valor                                                     76566.49
  Name: 9, dtype: object),
 (10, Nome                                                     Ford Edge
  Motor                                              Motor Diesel V6
  Ano                                                           2002
  Quilometragem                                              12859.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Valor                                                     71647.59
  Name: 10, dtype: object),
 (11, Nome                                                       Courier
  Motor                                              Motor Diesel V8
  Ano                                                           2007
  Quilometragem                                               8052.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Valor                                                     73919.53
  Name: 11, dtype: object),
 (12, Nome                                                          S-18
  Motor                                                     Motor V6
  Ano                                                           2001
  Quilometragem                                              89773.0
  Zero_km                                                      False
  Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Valor                                                    112732.99
  Name: 12, dtype: object),
 (13, Nome                                                            J5
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Valor                                                     53183.38
  Name: 13, dtype: object),
 (14, Nome                                                  F-Type Coupé
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2009
  Quilometragem                                              41457.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                    127488.42
  Name: 14, dtype: object),
 (15, Nome                                                           RAM
  Motor                                              Motor Diesel V8
  Ano                                                           2016
  Quilometragem                                             115607.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Valor                                                      59910.4
  Name: 15, dtype: object),
 (16, Nome                                                       Série 1
  Motor                                                Motor 3.0 32v
  Ano                                                           2012
  Quilometragem                                              46449.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Valor                                                     61118.59
  Name: 16, dtype: object),
 (17, Nome                                                            A3
  Motor                                                 Motor 1.0 8v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     88552.39
  Name: 17, dtype: object),
 (18, Nome                                                          XC90
  Motor                                                 Motor 1.0 8v
  Ano                                                           2016
  Quilometragem                                              37086.0
  Zero_km                                                      False
  Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Valor                                                     62696.69
  Name: 18, dtype: object),
 (19, Nome                                                RS 3 Sportback
  Motor                                                Motor 3.0 32v
  Ano                                                           2017
  Quilometragem                                              15173.0
  Zero_km                                                      False
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     101726.3
  Name: 19, dtype: object),
 (20, Nome                                                  Pajero Sport
  Motor                                                 Motor 1.0 8v
  Ano                                                           2002
  Quilometragem                                             101193.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Valor                                                    106147.38
  Name: 20, dtype: object),
 (21, Nome                                                     Série 1 M
  Motor                                                     Motor V8
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Valor                                                      94564.4
  Name: 21, dtype: object),
 (22, Nome                                           Lamborghini Obvious
  Motor                                              Motor Diesel V6
  Ano                                                           1994
  Quilometragem                                              98079.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Valor                                                    133529.84
  Name: 22, dtype: object),
 (23, Nome                                         Effa Hafei Picape Baú
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                             102959.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Valor                                                    125684.65
  Name: 23, dtype: object),
 (24, Nome                                        Lamborghini Murciélago
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Valor                                                    121596.21
  Name: 24, dtype: object),
 (25, Nome                                                           Up!
  Motor                                              Motor Diesel V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Valor                                                      71367.1
  Name: 25, dtype: object),
 (26, Nome                                            Fiesta Rocam Sedan
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2016
  Quilometragem                                               5795.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Valor                                                     95347.75
  Name: 26, dtype: object),
 (27, Nome                                               Sandero Stepway
  Motor                                                Motor 3.0 32v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Valor                                                    105432.84
  Name: 27, dtype: object),
 (28, Nome                                                      Cayman S
  Motor                                                Motor 3.0 32v
  Ano                                                           2002
  Quilometragem                                              58848.0
  Zero_km                                                      False
  Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Valor                                                     57045.27
  Name: 28, dtype: object),
 (29, Nome                                                           V40
  Motor                                              Motor 4.0 Turbo
  Ano                                                           1991
  Quilometragem                                              94381.0
  Zero_km                                                      False
  Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Valor                                                     120432.7
  Name: 29, dtype: object),
 (30, Nome                                                Classe SLS AMG
  Motor                                                 Motor 1.0 8v
  Ano                                                           1997
  Quilometragem                                              30163.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Valor                                                      70707.2
  Name: 30, dtype: object),
 (31, Nome                                                        Gol G4
  Motor                                                Motor 2.0 16v
  Ano                                                           1995
  Quilometragem                                              53332.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Valor                                                     69105.18
  Name: 31, dtype: object),
 (32, Nome                                                         Linea
  Motor                                                 Motor 1.0 8v
  Ano                                                           2018
  Quilometragem                                              17720.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Valor                                                     59358.69
  Name: 32, dtype: object),
 (33, Nome                                                     Ford F100
  Motor                                                Motor 2.0 16v
  Ano                                                           1991
  Quilometragem                                              33808.0
  Zero_km                                                      False
  Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Valor                                                      65955.4
  Name: 33, dtype: object),
 (34, Nome                                                            J2
  Motor                                                     Motor V8
  Ano                                                           2014
  Quilometragem                                              90684.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Valor                                                     60017.03
  Name: 34, dtype: object),
 (35, Nome                                              Aston Martin DBS
  Motor                                                     Motor V8
  Ano                                                           1995
  Quilometragem                                              43975.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Valor                                                    118909.52
  Name: 35, dtype: object),
 (36, Nome                                                    Pajero TR4
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Valor                                                     51606.59
  Name: 36, dtype: object),
 (37, Nome                                                    Polo Sedan
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Valor                                                    123281.87
  Name: 37, dtype: object),
 (38, Nome                                                    California
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                               5526.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...

In [ ]:
dataset = pd.read_csv('db.csv', sep =';')

for index, row in dataset.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_med'] = row['Quilometragem'] / (2019 - row['Ano'])
    # dataset.loc[['Quilometragem']] / (2019 - dataset.loc[[Ano]])
  else:
    dataset.loc[index, 'Km_med'] = 0


dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_med
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [ ]:
dataset_nome = pd.read_csv('db.csv', sep =';', index_col=0)

for index, row in dataset_nome.iterrows():
  if (2019 - row['Ano'] != 0):
    dataset_nome.loc[index, 'Km_med'] = row['Quilometragem'] / (2019 - row['Ano'])
    # dataset.loc[['Quilometragem']] / (2019 - dataset.loc[[Ano]])
  else:
    dataset_nome.loc[index, 'Km_med'] = 0


dataset_nome

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_med
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

# 5.5 Tratamento de dados

In [ ]:
dataset = pd.read_csv('db.csv', sep =';')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [ ]:
dataset[dataset.Quilometragem.isna()]

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
6,A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
13,J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
17,A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
21,Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40
...,...,...,...,...,...,...,...
238,Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86
242,Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84
243,Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21
245,Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33
248,XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79

In [ ]:
dataset.fillna(0, inplace=True)

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
dataset.query('Quilometragem == 0')

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
3,DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
6,A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20
13,J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38
17,A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39
21,Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40
...,...,...,...,...,...,...,...
238,Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86
242,Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84
243,Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21
245,Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33
248,XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79

In [ ]:
dataset.dropna(subset = ['Quilometragem'], inplace=True)

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47